<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Amazon</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>
		web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>am_login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SelectCategoryServlet</display-name>
    <servlet-name>SelectCategoryServlet</servlet-name>
    <servlet-class>web.SelectCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCategoryServlet</servlet-name>
    <url-pattern>/selectCategory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LaptopServlet</display-name>
    <servlet-name>LaptopServlet</servlet-name>
    <servlet-class>web.LaptopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaptopServlet</servlet-name>
    <url-pattern>/LaptopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookImageServlet</display-name>
    <servlet-name>BookImageServlet</servlet-name>
    <servlet-class>web.BookImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookImageServlet</servlet-name>
    <url-pattern>/BookImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TextBooks</servlet-name>
    <servlet-class>web.textBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextBooks</servlet-name>
    <url-pattern>/startTextBooks.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeleServlet</display-name>
    <servlet-name>TeleServlet</servlet-name>
    <servlet-class>
		web.TeleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeleServlet</servlet-name>
    <url-pattern>/TeleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <servlet-class>web.ShoppingCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProceedToCheckOutServlet</servlet-name>
    <servlet-class>web.ProceedToCheckOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProceedToCheckOutSignIn</servlet-name>
    <servlet-class>web.ProceedToCheckOutSignIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShoppingCartSaveForLater</servlet-name>
    <servlet-class>web.ShoppingCartSaveForLaterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCartServlet</servlet-name>
    <url-pattern>/ShoppingCartServlet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProceedToCheckOutServlet</servlet-name>
    <url-pattern>/ProceedToCheckOut.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProceedToCheckOutSignIn</servlet-name>
    <url-pattern>/ProceedToCheckOutSignIn.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShoppingCartSaveForLater</servlet-name>
    <url-pattern>/SaveForlater.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShippingAddressServlet</servlet-name>
    <servlet-class>web.ShippingAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShippingAddressServlet</servlet-name>
    <url-pattern>/printAddress.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>web.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourierLoginServlet</display-name>
    <servlet-name>CourierLoginServlet</servlet-name>
    <servlet-class>web.CourierLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourierLoginServlet</servlet-name>
    <url-pattern>/courierlogin.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderUpdateServlet</display-name>
    <servlet-name>OrderUpdateServlet</servlet-name>
    <servlet-class>web.OrderUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderUpdateServlet</servlet-name>
    <url-pattern>/orderupdate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddToShopCartServlet</servlet-name>
    <servlet-class>web.AddToShopCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToShopCartServlet</servlet-name>
    <url-pattern>/AddToShopCartServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Chose_laptop</display-name>
    <servlet-name>Chose_laptop</servlet-name>
    <servlet-class>web.Chose_laptop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Chose_laptop</servlet-name>
    <url-pattern>/chooselaptop.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LaptopImageServlet</display-name>
    <servlet-name>LaptopImageServlet</servlet-name>
    <servlet-class>web.LaptopImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaptopImageServlet</servlet-name>
    <url-pattern>/LaptopImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLaptopToCartServlet</display-name>
    <servlet-name>AddLaptopToCartServlet</servlet-name>
    <servlet-class>web.AddLaptopToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLaptopToCartServlet</servlet-name>
    <url-pattern>/AddLaptopToShopCartServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Logging out</description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>
		web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditCardServlet</display-name>
    <servlet-name>CreditCardServlet</servlet-name>
    <servlet-class>web.CreditCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditCardServlet</servlet-name>
    <url-pattern>/creditdetails.do</url-pattern>
  </servlet-mapping>
</web-app>