<style type="text/css"><!--
  .noop {
    
  }
  
  
  table.srList td a {
    text-decoration:     none;
  }

  table.srList td.entry {
    white-space:         nowrap;
    font-size:           70%;
    padding-bottom:      2px;
    padding-top:         2px;
    vertical-align:      bottom;
  }

  table.srList tr.srNewAttribute td.entry {
    padding-bottom: 0;
  }

  table.srList .srPrimary,
  table.srList td.srPrimary,
  table.srList .srSecondary,
  table.srList td.srSecondary {
    background-color:    #FFFFFF;
    border-style:        none;
  }

  table.srList td.name {
    background-image:    url(http://g-ecx.images-amazon.com/images/G/01/x-locale/communities/reviews/ellipsisdot2.gif);
    background-repeat:   repeat-x;
    background-position: bottom left;
    padding-right:       15px;
    width:               90%;
  }

  
  .srpopover .scrollSection {
    overflow-y: auto;
    height: 210px; 
  }

  
  
  .titleBar {
    margin:                4px 0 4px 0;
    font-size:             1.15em;
    font-weight:           bold;
  }

  .srPopoverContent {
    padding:               0px;
    margin:                0px;
  }

  .srPopoverContentSection {
    font-size:             84%;
    padding-top:           7px;
    padding-left:          18px;
  }

  .srPopoverContentSection.srPopoverAddHeading {
    padding: 0 0 5px 10px;
  }

  .srPopoverContentSection.srPopoverAddFooter,
  .srPopoverContentSection.srPopoverAddFooter div div,
  .srPopoverContentSection.srPopoverAddFooter div.srPopoverList {
    padding: 0 !important;
  }

  .srPopoverContentSection.srPopoverAddFooter div {
    padding-left: 10px;
  }

  .srPopoverList {
    padding-left:          0px;
    padding-top:           0px;
    margin-top:            -10px;
    overflow-x:            hidden; 
  }

  .srPopoverAddFooter .srPopoverList {
    margin: 0;
  }

  .srPopoverSeeMore {
    border-top:            solid 1px #dde4ea;
    border-bottom:         solid 1px #ccd7e0;
    padding-bottom:        5px;
    padding-top:           5px;
  }

  .srPopoverContentSection a {
    text-decoration:       none;
  }

  .srPopoverContentSection .heading {
    font-family:           Tahoma;
    font-weight:           bold;
    padding-bottom:        5px;
  }

  .srPopoverContentSection .grey {
    color:                 #696969;
  }

  .srPopoverContentSection .heading .black {
    color:                 #000000;
  }
  
  .orangeHeading {
    font-size:             1.3em;
    font-weight:           bold;
    color:                 #cc6600;
  }

  .srPopoverContentSection .body {
    font-size:             84%;
    white-space:           nowrap;
  }

  #srPopoverContentFooterRead {
    display:               block;
  }

  #srPopoverContenFooterWrite {
    display:               none;
  }

  .srPopoverContentSection .bigbutton {
    margin-right:          15px;
    border-width:          0px;
    cursor:                pointer;
  }

  .srPopoverContentSection .smallbutton {
    margin-left:           5px;
    border-width:          0px;
    vertical-align:        bottom;
    cursor:                pointer;
  }

  input#srPopoverNewAttribute {
    margin-right:         3px;
  }

  .srPopoverList table.srList td a {
    text-decoration:       none;
    padding-bottom:        3px;
    margin-left:           18px;
  }

  .srPopoverList table.srList td.name span.newAttribute {
    margin-left:    10px;
    padding-bottom: 3px;
    color:          #003399;
  }

  .srPopoverList table.srList td.srPrimary,
  .srPopoverList table.srList .srPrimary {
    background:       none #FFFFFF !important;
  }

  .srPopoverList table.srList td.srSecondary,
  .srPopoverList table.srList .srSecondary,
  .srPopoverList table.srList tr.srNewAttribute td,
  div.srPopoverContent div.srPopoverAddFooter div.srAddStatus {
    background:       none #F1F7FC !important;
  }

  .srPopoverList table.srList .highlighted,
  .srPopoverList table.srList td.highlighted,
  .srPopoverList table.srList td.entry.srSecondary.highlighted,
  .srPopoverList table.srList td.entry.name.srSecondary.highlighted,
  .srPopoverList table.srList td.entry.name.srPrimary.highlighted,
  .srPopoverList table.srList td.entry.srPrimary.highlighted {
    background-color:      #FAFAD2 !important;
  }

  .srPopoverList table.srList tr.srNewAttribute td {
    border-top: 2px solid white;
  }

  .srPopoverList table.srList tr.srNewAttribute td.name {
    font-weight: bold;
  }

  .srPopoverAddFooter .srPopoverList table.srList td.name,
  .srPopoverAddFooter .srPopoverList table.srList td.name span.newAttribute {
    color: black;
  }

  .srPopoverAddFooter div.srPopoverAddDimensionForm table {
    border-spacing: 0;
  }

  .srPopoverList table.srList td {
    white-space:           nowrap;
    font-size:             61%; 
    vertical-align:        middle;
    height:                35px;
  }

  .srPopoverList table.srList td.name {
    background-image:      none;
    font-size:             66%;
    width:                 65%;
  }

  .srPopoverList table.srList td.stars {
    padding-right:         10px;
    width:                 10%;
    text-align:            left;
  }

  .srPopoverList table.srList td.bluestars {
    padding-right:         10px;
    width:                 10%;
    text-align:            left;
    white-space:           nowrap;
  }

  .srPopoverList table.srList td.admin {
      font-size:           55%;
  }

  .srPopoverList table.srList td.header {
    font-family:           Tahoma;
    font-size:             70%;
    font-weight:           bold;
    color:                 #696969;
    padding-top:           4px;
    padding-bottom:        10px;
  }

  .srPopoverList table.srList td.admin span.srSavedMessage {
    color:                 #009900;
  }

  .srPopoverList table.srList td.firstCol {
    padding-left: 17px;
    width:        65%;
  }

  .srPopoverCustNotSignedIn {
    margin-left: 17px;
  }


  .srPopoverSubmitNotAllowed {
    white-space:          normal;
    background:           #FFFFCC none repeat scroll 0 0;
    font-family:          verdana,arial,helvetica,sans-serif;
    padding:              5px;
    font-size:            11px;       
  }

  .srPopoverSubmitNotAllowed .textContent {
    margin: 0 0 0.25em 25px;
    padding: 0;
    font-size: 10px;
  }

  .srPopoverSubmitNotAllowed .title {
    font-weight:          bold;
    font-size: 11px;
    margin: 0 0 0.25em 2em;
  }

  .srPopoverSubmitNotAllowed .concludingText {
    margin-top:           10px;
  }

  .srPopoverShowAttributesMsg,
  .srPopoverShowAttributesMsg div,
  .srPopoverShowAttributesMsg a,
  .srPopoverShowAttributesMsg a:visited {
    text-decoration:       underline;
    font-size:             12px;
    text-align:            center;
    color:                 #003399;
    padding-bottom:         10px;
  }

  .srPopoverRemoveRowLink {
    cursor:                pointer;
    color:                 #003399;
    padding-right:         9px;
  }

  .srPopoverAlertImage {
    width:          17px;
    height:         17px;
    border:         0;
    display:        block;
    float:          left;
  }



  .srPopoverAddMessage {
    font-family:          verdana,arial,helvetica,sans-serif;
  }

  .srPopoverAddMessage h6 {
    font-size: 11px;
    margin: 0 0 0.25em 25px;
  }

  .srPopoverAddMessage p {
    margin: 0 0 0.25em 25px;
    padding: 0;
    font-size: 10px;
  }

  .error {
    color: #A31919;
  }

  .srPopoverAddMessage.error a {
    text-decoration: underline;
  }
  .srPopoverAddMessage.error a:visited {
    color: #039;
  }

  .srPopoverAddExists {
    font-family:           verdana,arial,helvetica,sans-serif;
    font-size:             1.1em;
    color:                 #009900; 
    padding-top:           0 !important;
  }

  .srPopoverContentSection div.srAddStatus {
    padding: 0 10px 5px!important;
    font-size:   1em;
    white-space: normal !important;
  }

  .srPopoverAddAlternatesPrompt {
    font-family:           verdana,arial,helvetica,sans-serif;
    font-size:             1em;
    font-weight:           bold;
    margin-top:            9px;
    margin-bottom:         2px;
  }

  .srPopoverAddAlternatesSuggestions {
    font-family:           verdana,arial,helvetica,sans-serif;
    font-size:             1em;
    margin-top:            5px;
    margin-left:           2px;
  }
  .srPopoverAddAlternatesSuggestions a {
    font-family:           verdana,arial,helvetica,sans-serif;
    font-size:             1em;
    margin-top:            5px;
    margin-left:           2px;
    cursor:                pointer;
    color:                 #003399;
  }

  .srPopoverAddAlternatesExplanation {
    margin-top:            9px;
    font-family:           verdana,arial,helvetica,sans-serif;
    font-size:             0.85em;
  }

  .srPopoverCloseMessage,
  .srPopoverCloseMessage div,
  .srPopoverCloseMessage a,
  .srPopoverCloseMessage a:visited {
    text-decoration:       underline;
    font-size:             10px;
    text-align:            center;
    color:                 #003399;
    margin-top:            7px;
  }

  .srPopoverShowHideTips,
  .srPopoverShowHideTips a,
  .srPopoverShowHideTips a:visited,
  .srPopoverShowHideTips a:hover,
  .srPopoverShowHideTips a:active {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #003399;
  }

  div.srPopoverHelpfulTips {
    border-top:  solid 1px #ccd7e0;
    padding-top: 10px;
  }

  .srPopoverHelpfulAttributeTipsTitle {
    font-size:   0.85em;
    font-weight: bold;
    color:       #4F4E4A;
  }

  .srPopoverHelpfulAttributeTipsExamples {
    margin-left: 22px;
    font-size:   0.85em;
    margin-top: 8px;
    text-decoration: underline;
  }

  .srPopoverHelpfulAttributeTipsItem {
    margin-left: 22px;
    font-size:   0.85em;
  }

  .srPopoverMT3 {
    margin-top:  3px;
  }

  .srPopoverMT5 {
    margin-top:  5px;
  }

  .srPopoverMT6 {
    margin-top:  6px;
  }

  .srPopoverAddConsiderationLearnMore {
    white-space: nowrap;
  }
  
  .srPopoverAddBeingConsidered {
    margin-right: 10px;
  }


  .srPopoverSignInMessage {
    font-size:     10px;
    color:         #696969;
    margin-top:    5px;
    margin-bottom: 5px;
  }

  .srPopoverSignInMessage h6 {
    font-weight:   bold;
    font-size:     10px;
    margin-top:    0px;
    margin-bottom: 0px;
  }
                                                                                                                                                             


  #suggest-table {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    border: 1px solid #9ac;
  }

  #suggest-table tr td {
    color: #333333;
    font-family: Verdana;
    font-size: 11px;
    padding: 2px;
  }

  #suggest-table tr.hovered {
    color: #EFEDD4;
    background-color: #9ac;
  }

  .srOrangeArrow {
    color:               #CC6600;
    font-weight:         bold;
  }

  #srdpVS .secEyebrow h2 {
    _margin-right: -4px;
  }


  
  .srTeaser {
    text-align:          left;
  }

  .srTeaserHeader {
    font-weight:         bold;
    white-space:         nowrap;
  }

  .srTeaserMain {
    width:               296px;
  }

  .srTeaserFooter {
    margin-top:          5px;
  }

  .srTeaserSolicitationHelp {
    font-weight:         normal;
  }

  .srTeaserFooter a,
  .srTeaserFooter a:link,
  .srTeaserFooter a:visited,
  .srTeaserFooter a:active
  {
    color:               #003399;
    text-decoration:     underline;
  }

  .srTeaser table.srList .srPrimary,
  .srTeaser table.srList td.srPrimary,
  .srTeaser table.srList .srSecondary,
  .srTeaser table.srList td.srSecondary {
    background-color:    #FFFFFF;
    border-style:        none;
  }

  .srTeaser table.srList td a {
    text-decoration:     underline;
  }

--></style>
